:root {
	color-scheme: dark light;
}

html {
	font-family: system-ui;
}

body {
	margin: 0;
}

button {
	cursor: pointer;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;

	> header {
		align-items: center;
		display: flex;
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		padding-block: 16px;
		padding-inline: 24px;
	}

	> main {
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: 16px;
		padding: 16px;

		> search {
			align-items: center;
			background: rgb(from currentColor r g b / .1);
			border-radius: 32px;
			display: flex;
			flex-direction: row-reverse;
			gap: 12px;
			padding-inline: 16px;

			> * {
				padding-block: 12px;
			}

			> input {
				background: transparent;
				border: none;
				color: inherit;
				flex: 1;
				font-size: .75rem;
				font-weight: 300;
				line-height: 1;
			}

			> svg {
				fill: currentColor;
				width: .75rem;
			}
		}

		> section {
			display: flex;
			flex-direction: column;
			gap: 16px;

			&.saved-locations {
				flex: 1;

				> div {
					align-items: center;
					display: flex;
					flex-direction: column-reverse;
					flex: 1;
					font-size: .75rem;
					font-weight: normal;
					gap: 16px;
					justify-content: center;
					line-height: 1;
					max-block-size: 32rem;

					> svg {
						fill: currentColor;
						inline-size: 3rem;
					}
				}
			}

			> header {
				align-items: center;
				display: flex;
				justify-content: space-between;
				padding-inline: 12px;

				> h1 {
					font-size: .875rem;
					font-weight: normal;
					line-height: 1;
				}

				> svg {
					fill: currentColor;
					width: 16px;
				}
			}

			> button {
				background: accentColor;
				border-radius: 16px;
				border: none;
				font-size: 1rem;
				font-weight: bold;
				inline-size: 100%;
				padding: 16px;
			}
		}
	}
}
